<%- include('partials/head.ejs'); -%>
<%- include('partials/headerLogueado.ejs'); -%>
<!-- form login-->
<h2 class="col-12"> 

	<section class="formularios">
		<form action="" method="GET">
			<div>
				<label for="usuario">Usuario:</label>
				<input id="usuario" type="text" name="usuario" value="">
			</div>
			<div>
				<label for="contraseña">Contraseña:</label>
				<input id="contraseña" type="password" name="contraseña" value="">
			</div>
			<div>
				<label for="recordarme">¿Recordarme?</label>
				<input id="recordarme" type="checkbox" name="recordarme">
			</div>
			<div>
				<button class="boton" type="submit">Ingresar</button>
			</div>
	</section>
</h2>
<%- include('partials/footer.ejs'); -%>