<%- include('partials/head.ejs'); -%>
<%- include('partials/headerLogueado.ejs'); -%>
<!-- form para registrarse-->
<h2 class="col-12">
    <section class="formularios">
        <form action="" method="GET">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" value="">
            </div>
            <div>
                <label for="usuario">Usuario:</label>
                <input id="usuario" type="text" name="usuario" value="">
            </div>
            <div>
                <label for="contrase単a">Contrase単a:</label>
                <input id="contrase単a" type="password" name="contrase単a" value="">
            </div>
            <div>
                <label for="fechaNacimiento">Nacimiento:</label>
                <input id="fechaNacimiento" type="date" name="fechaNacimiento" value="">
            </div>
            <div>
                <label for="nroDocumento">Num. Documento:</label>
                <input id="nroDocumento" type="number" name="nroDocumento" value="">
            </div>
            <div>
                <label for="fotoPerfil">Foto de Perfil:</label>
                <input id="fotoPerfil" type="text" name="fotoPerfil" value="">
            </div>
            <div>
                <button class="boton" type="submit">Registrarse</button>
            </div>
    </section>
</h2>
<%- include('partials/footer.ejs'); -%>