<%- include('partials/head.ejs'); -%>
<%- include('partials/header.ejs'); -%>

<!-- Mis productos -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">BÚSQUEDA</h2>
        </div>
          
        <!-- Show mis productos -->
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/product">
                    <img src="/images/products/buzored.jpg" alt="cafetera moulinex">
                    <article class="product-box_data">
                        <h2>Nombre: <%= resultados %></h2>
                    </article>
                </a>
            </section>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs'); -%>