<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>¡Aceptamos transferencias! Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 5.000</h2>
                    <p>Explora sin límites y disfruta de envíos gratuitos. Es nuestro agradecimiento por confiar en UrbanDivers como tu destino de buzos favorito.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, en tu compra</h2>
                    <p>En UrbanDivers, tu satisfacción es nuestra prioridad absoluta. Si por alguna razón no estás satisfecho con tu compra, ¡devuélvela sin problemas! Queremos que tu experiencia de compra sea siempre sin preocupaciones</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->