	<!-- Header -->
	<header>
		<nav class="main-navbar">
			<div class="ml-2">
			<ul class="left-navbar">
				<li><a href="/">Todos los productos</a></li>
				<li><a href="/product/add">Publicar</a></li>
			</ul>
		</div>
			<ul class="right-navbar">
				<li><a href="/profile/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
				<li><a href="/profile/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
			</ul>
		</nav>
		<div class="banner">
			<img src="/images/bannerti.png" alt="Banner de ofertas">
		</div>
	</header>
	<!-- /Header -->